In [1]:
import os
import pandas as pd

# Local path where we keep our working sample
local_csv = "../data/raw/nyc_taxi_sample.csv"

if os.path.exists(local_csv):
    # 1) If sample already exists locally → just load it (fast)
    print("Loading existing NYC taxi sample from disk...")
    df_sample = pd.read_csv(local_csv)
else:
    # 2) First run: download a real NYC taxi CSV (no parquet / pyarrow needed)
    print("Downloading NYC taxi sample CSV (this is a real NYC taxi dataset)...")
    source_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/taxis.csv"
    df = pd.read_csv(source_url)

    # Optionally, you could sample here if the dataset was huge.
    # This one is small, so we just copy it as-is.
    df_sample = df.copy()

    # Make sure the folder exists and save the sample for future runs
    os.makedirs(os.path.dirname(local_csv), exist_ok=True)
    df_sample.to_csv(local_csv, index=False)
    print(f"Sample saved to {local_csv}")

print("Data loaded. Shape:", df_sample.shape)
df_sample.head()

Downloading NYC taxi sample CSV (this is a real NYC taxi dataset)...
Sample saved to ../data/raw/nyc_taxi_sample.csv
Data loaded. Shape: (6433, 14)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [3]:
# Basic info
print("Dataset shape:", df_sample.shape)
print("\nColumns:\n", df_sample.columns.tolist())

# Overview of data types and non-null counts
print("\n--- Data info ---")
df_sample.info()

# Quick statistical summary
print("\n--- Numeric summary ---")
display(df_sample.describe())

# Check for missing values
print("\n--- Missing values per column ---")
print(df_sample.isna().sum())

# Quick look at unique values for categorical columns
cat_cols = df_sample.select_dtypes(include="object").columns
for col in cat_cols:
    print(f"\nUnique values in '{col}':")
    print(df_sample[col].unique()[:10])  # show first 10 uniques

Dataset shape: (6433, 14)

Columns:
 ['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls', 'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone', 'pickup_borough', 'dropoff_borough']

--- Data info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB

--- Numeric summary ---

,passengers,distance,fare,tip,tolls,total
count,6433.000000,6433.000000,6433.000000,6433.00000,6433.000000,6433.000000
mean,1.539251,3.024617,13.091073,1.97922,0.325273,18.517794
std,1.203768,3.827867,11.551804,2.44856,1.415267,13.815570
min,0.000000,0.000000,1.000000,0.00000,0.000000,1.300000
25%,1.000000,0.980000,6.500000,0.00000,0.000000,10.800000
50%,1.000000,1.640000,9.500000,1.70000,0.000000,14.160000
75%,2.000000,3.210000,15.000000,2.80000,0.000000,20.300000
max,6.000000,36.700000,150.000000,33.20000,24.020000,174.820000

--- Missing values per column ---
pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

Unique values in 'pickup':
['2019-03-23 20:21:09' '2019-03-04 16:11:55' '2019-03-27 17:53:01'
 '2019-03-10 01:23:59' '2019-03-30 13:27:42' '2019-03-11 10:37:23'
 '2019-03-26 21:07:31' '2019-03-22 12:47:13' '2019-03-23 11:48:50'
 '2019-03-08 16:18:37']

Unique values in 'dropoff':
['2019-03-23 20:27:24' '2019-03-04 16:19:00' '2019-03-27 18:00:25'
 '2019-03-10 01:49:51' '2019-03-30 13:37:14' '2019-03-11 10:47:31'
 '2019-03-26 21:17:29' '2019-03-22 12:58:17' '2019-03-23 12:06:14'
 '2019-03-08 16:26:57']

Unique values in 'color':
['yellow' 'green']

Unique values in 'payment':
['credit card' 'cash' nan]

Unique values in 'pickup_zone':
['Lenox Hill West' 'Upper West Side South' 'Alphabet City' 'Hudson Sq'
 'Midtown East' 'Times Sq/Theatre District' 'Battery Park City'
 'Murray Hill' 'East Harlem South' 'Lincoln Square East']

Unique values in 'dropoff_zone':
['UN/Turtle Bay South' 'Upper West Side South' 'West Village'
 'Yorkville West' 'Midtown East' 'Two Bridges/Seward Park' 'Flatiron'
 'Midtown Center' 'Central Park' 'Astoria']

Unique values in 'pickup_borough':
['Manhattan' 'Queens' nan 'Bronx' 'Brooklyn']

Unique values in 'dropoff_borough':
['Manhattan' 'Queens' 'Brooklyn' nan 'Bronx' 'Staten Island']

In [4]:
import numpy as np

# 1️⃣ Copy the dataset (so the original stays untouched)
df_clean = df_sample.copy()

# 2️⃣ Convert pickup/dropoff to datetime
df_clean["pickup"] = pd.to_datetime(df_clean["pickup"])
df_clean["dropoff"] = pd.to_datetime(df_clean["dropoff"])

# 3️⃣ Compute trip duration in minutes
df_clean["trip_minutes"] = (df_clean["dropoff"] - df_clean["pickup"]).dt.total_seconds() / 60

# 4️⃣ Remove clearly invalid trips
df_clean = df_clean[
    (df_clean["trip_minutes"] > 0) &
    (df_clean["trip_minutes"] <= 180) &
    (df_clean["distance"] > 0) &
    (df_clean["fare"] > 0) &
    (df_clean["total"] > 0)
]

# 5️⃣ Drop rows with missing key info
df_clean = df_clean.dropna(subset=["payment", "pickup_zone", "dropoff_zone", "pickup_borough", "dropoff_borough"])

# 6️⃣ Add new features for analysis
df_clean["pickup_hour"] = df_clean["pickup"].dt.hour
df_clean["pickup_dayofweek"] = df_clean["pickup"].dt.day_name()
df_clean["tip_pct"] = np.where(df_clean["fare"] > 0, df_clean["tip"] / df_clean["fare"], 0)

# 7️⃣ Reset index and check size
df_clean = df_clean.reset_index(drop=True)
print(f"Original rows: {len(df_sample)}, After cleaning: {len(df_clean)}")

df_clean.head()

Original rows: 6433, After cleaning: 6309

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,trip_minutes,pickup_hour,pickup_dayofweek,tip_pct
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,6.250000,20,Saturday,0.307143
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,7.083333,16,Monday,0.000000
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,7.400000,17,Wednesday,0.314667
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,25.866667,1,Sunday,0.227778
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,9.533333,13,Saturday,0.122222

In [5]:
print("--- Cleaned Data Info ---")
df_clean.info()

print("\n--- Summary of Key Numeric Columns ---")
display(df_clean[["distance", "fare", "tip", "total", "trip_minutes", "tip_pct"]].describe())

print("\n--- Top Payment Types ---")
print(df_clean["payment"].value_counts())

print("\n--- Top Pickup Boroughs ---")
print(df_clean["pickup_borough"].value_counts())

--- Cleaned Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6309 entries, 0 to 6308
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pickup            6309 non-null   datetime64[ns]
 1   dropoff           6309 non-null   datetime64[ns]
 2   passengers        6309 non-null   int64
 3   distance          6309 non-null   float64
 4   fare              6309 non-null   float64
 5   tip               6309 non-null   float64
 6   tolls             6309 non-null   float64
 7   total             6309 non-null   float64
 8   color             6309 non-null   object
 9   payment           6309 non-null   object
 10  pickup_zone       6309 non-null   object
 11  dropoff_zone      6309 non-null   object
 12  pickup_borough    6309 non-null   object
 13  dropoff_borough   6309 non-null   object
 14  trip_minutes      6309 non-null   float64
 15  pickup_hour       6309 non-null   int32
 16  pickup_dayofweek  6309 non-null   object
 17  tip_pct           6309 non-null   float64
dtypes: datetime64[ns](2), float64(7), int32(1), int64(1), object(7)
memory usage: 862.7+ KB

--- Summary of Key Numeric Columns ---

,distance,fare,tip,total,trip_minutes,tip_pct
count,6309.000000,6309.000000,6309.000000,6309.000000,6309.000000,6309.000000
mean,3.012912,12.884478,1.975522,18.315790,14.405965,0.171350
std,3.723050,10.650681,2.348898,12.857345,11.500581,0.145711
min,0.010000,1.000000,0.000000,1.300000,0.066667,0.000000
25%,1.000000,6.500000,0.000000,10.800000,6.600000,0.000000
50%,1.660000,9.500000,1.750000,14.160000,10.966667,0.214286
75%,3.220000,15.000000,2.820000,20.300000,18.516667,0.285000
max,36.700000,150.000000,23.190000,174.820000,107.666667,0.933333

--- Top Payment Types ---
payment
credit card    4533
cash           1776
Name: count, dtype: int64

--- Top Pickup Boroughs ---
pickup_borough
Manhattan    5214
Queens        626
Brooklyn      372
Bronx          97
Name: count, dtype: int64